.ButtonCreateTask{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: white;
    background-color: #96ceff;
    border:#96ceff;
    float: right;
    margin: 0 2rem;
    transition: all ease 1s;
    z-index: 1;
}

.ButtonCreateTask:hover{
    transform: rotate(-50deg);
    cursor: pointer;
    background: #50178a ;
    /* color: #000; */

}
.ButtonCreateTask span{
    font-size: 6rem;
    height: 60%;
    margin-top: -3rem;
}
